In [3]:
import os
import pandas as pd
main_folder = 'Sensor Data'
dataframes = []
expected_columns = None

In [5]:
for subfolder in os.listdir(main_folder):
    subfolder_path = os.path.join(main_folder, subfolder)
    if os.path.isdir(subfolder_path):
        for file in os.listdir(subfolder_path):
            if file.endswith('.csv'):
                file_path = os.path.join(subfolder_path, file)
                df = pd.read_csv(file_path)
                if expected_columns is None:
                    expected_columns = df.columns
                else:
                    if not df.columns.equals(expected_columns):
                        raise ValueError(f"Columns do not match in file: {file_path}")
                dataframes.append(df)

In [7]:
print(len(dataframes))

52

In [9]:
combined_df = pd.concat(dataframes)
combined_df['Time'] = pd.to_datetime(combined_df['Time'], format='mixed')
combined_df = combined_df.sort_values(by='Time')
output_file = 'combined_sorted_data.csv'
combined_df.to_csv(output_file, index=False)

print(f"Data successfully combined and sorted. Output saved to {output_file}")

Data successfully combined and sorted. Output saved to combined_sorted_data.csv

In [11]:
data=pd.read_csv('combined_sorted_data.csv')
data.head()

                  Time  Tm  Rh  Na   Np   Li  H2s  Nh3  No2  Pm2  Pm10  Voc
0  2024-04-01 14:29:35  34  67  47   48  701    0   97    8    6     6  101
1  2024-04-01 14:35:47  34  68  52  195  702    8  115    7    6     7  100
2  2024-04-01 14:40:47  34  67  47   48  703    4  102    7    9     9   98
3  2024-04-01 14:42:00  32  75  57  201  443   14   51    6    7     7   97
4  2024-04-01 14:45:47  34  69  47   48  704    0  125    6    6     7  107

In [14]:
for column in df.columns:
    max_value = df[column].max()
    print(f"The maximum value in the '{column}' column is: {max_value}")

The maximum value in the 'Time' column is: 2024-05-14 02:48:32
The maximum value in the 'Tm' column is: 38
The maximum value in the 'Rh' column is: 93
The maximum value in the 'Na' column is: 86
The maximum value in the 'Np' column is: 393
The maximum value in the 'Li' column is: 708
The maximum value in the 'H2s' column is: 17
The maximum value in the 'Nh3' column is: 105
The maximum value in the 'No2' column is: 2
The maximum value in the 'Pm2' column is: 980
The maximum value in the 'Pm10' column is: 980
The maximum value in the 'Voc' column is: 433